.login--block {
    background-color: #3F5D45;
    width: 390px;
    height: 380px;
    //padding: 30px;
    color: white;
}

.social--block {
    background-color: #EAF0ED;
    width: 390px;
    height: 350px;
    color: #8DA291;
}

.checkbox {
    width: 1em;
    height: 1em;
}

.login--submit {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #3F5D45;
    background-color: #FFE180;
    border: #FFE180 1px solid;
    padding: 16px;    
}

.login--block--input {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social--block--item {
    width: 330px;
    padding: 17px;
    background-color: #FFFFFF;
    margin-top: 10px;
    text-align: center;

    & > img {
        height: 20px;
    }
}