.header--title {
    position: absolute;
    right: 40px;
    top: 40px;
    height: 300px;
    @include media-sm {
        height: 80%;
        top: 20px;
        right: 20px;
    }
}

.sub--nav {
    display: block;
    padding: 0px;
    @include media-sm {
        margin: 0px;
    }
}

.sub--nav--item, .sub--nav--header  {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #3F5D45;
    border: #EAF0ED 1px solid;
}

.sub--nav--item {
    padding: 16px 0px;
    &.active {
        background-color: #EAF0ED;
    }
}
.sub--nav--header {
    padding: 16px 0px;
    color: white;
    background-color: #3F5D45;
}

.pages-wrapper {
    text-align: right;
    @include media-sm {
        text-align: center;
    }
    width: 100%;
}
.pages {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    @include media-sm {
        justify-content: center;
        margin: 20px;
        padding: 0px;
    }
    
}
.pages--item {
    //padding: 16px 26px;
    border: #EAF0ED 0.5px solid;
    font-size: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3F5D45;   
    cursor: pointer; 

    &.active {
        color: white;
        background-color: #3F5D45;
        border: #3F5D45 0.5px solid;
    }
    &:hover {
        color: white;
        background-color: #3F5D45; 
        border: #3F5D45 0.5px solid;       
    }
}